@model Dictionary<string, int>
@{
    ViewData["Title"] = "Refresh";
}

<table cellspacing="0" style="margin-bottom:20px">
    <tr>
        <td width="16.66%" style="border-top-color: rgb(128,128,128);border-top-style:outset"></td>
        <td width="16.66%" style="border-top-color: rgb(128,128,128);border-top-style:outset"></td>
        <td width="16.66%" style="border-top-color: rgb(128,128,128);border-top-style:outset"></td>
        <td width="16.66%" style="border-top-color: rgb(128,128,128);border-top-style:outset"></td>
        <td width="16.66%" style="border-top-color: rgb(239,155,1);border-top-style:outset"></td>
        <td width="16.66%" style="border-top-color: rgb(128,128,128);border-top-style:outset"></td>
    </tr>
</table>

<table>
    <tr>
        <td><h2>Refresh</h2></td>
    </tr>
</table>


<table class="table">
    <thead>
        <tr>
            <th>
                Table
            </th>
            <th>
                Records
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                All
            </td>
            <td>
                @Model.Values.Sum()
            </td>
            <td>
                <a asp-controller="Home" asp-action="Refresh" asp-route-tableToDel="all">Refresh</a>
            </td>
        </tr>

        @foreach (KeyValuePair<string, int> item in Model)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Refresh" asp-route-tableToDel=@item.Key>Refresh</a>
                </td>
            </tr>
        }

    </tbody>
</table>
