
@{
    ViewData["Title"] = "Self Reflection";
}

<h2>Self Reflection</h2>

<h3>From the project we have learnt:</h3>
<p>
    <ul><li>Learned MVC Core and how data flows across Model, View and Controller architecture</li></ul>
    <ul><li>Database connectivity to Azure </li></ul>
    <ul><li>Entity Framework – Code First Approach </li></ul>
    <ul><li>ASP Core functionalities</li></ul>
    <ul><li>Stock Picking Strategy</li></ul>
    <ul><li>Significance of the stock quote parameters</li></ul>
</p>