body {
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(64,64,64);
}

.nav-bar {
    background-color: rgb(32,56,100);
    color: whitesmoke;
    font-size: x-large;
}

    .nav-bar > a {
        text-decoration: none;
        color: inherit;
    }

td {
    padding: 10px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}
