
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DIS Workgroup 13</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/Chart.min.js"></script>
    <script type="text/javascript" src="~/lib/chartjs-plugin-annotation-master/chartjs-plugin-annotation.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</head>
<body>
    <div class="setFont">
        <table style="margin-top:10px; margin-bottom:0px">
            <!--<tr><td></td></tr>-->
            <tr>
                <!--Insert logo-->
                <td valign="top">
                    <p align="left">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="images/logo.png" alt="DIS Workgroup 13" height="160" />
                        </a>
                    </p>
                </td>
            </tr>
        </table>

        <div class="tblHyperlink">
            <table cellspacing="0" >
                <tr>
                    <td width="16.66%">
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </p>
                    </td>

                    <td width="16.66%">
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Symbols">SYMBOLS</a>
                        </p>
                    </td>

                    <td width="16.66%">
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Chart">CHART</a>
                        </p>
                    </td>

                    <td width="16.66%">
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Quote">QUOTES</a>
                        </p>
                    </td>

                    <td width="16.66%">
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Refresh">REFRESH</a>
                        </p>
                    </td>

                    <td width="16.66%">
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="SelfReflection">SELF REFLECTION</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="container body-content">
            @RenderBody()
            <footer>
                <table style="margin:0px>
                    <tr">
                        <td style="border-top: 1px outset rgb(128,128,128)">
                            <p style="text-align:right">
                                <font size="2">
                                    Copyright ©
                                    2018 DIS Workgroup 13. All rights reserved.
                                </font>
                            </p>
                        </td>
                    </tr>
                </table>
            </footer>
        </div>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
